body {
	font-family: sans-serif;
	line-height: 1.8;
	margin: 0;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 32px 20px;
}

pre {
	overflow-x: auto;
	padding: 16px;
	background: #eee;
}

img {
	max-width: 100%;
}
